<html lang="en">
    <head>
        <title>ChatStats</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <script type="text/javascript">
            const stats = <%- JSON.stringify(stats) %>;
        </script>
    </body>
</html>
